<section>

  <div class="banner">
    <app-initial></app-initial>
    <app-experiences></app-experiences>
  <div>


    <br>
    <span>{{'infos.toTranslate' | translate}}</span>
    <div class="align-flags">
      <span class="language" (click)="changeLanguage('pt-BR')" >Portugês</span>
      <span class="pipe">|</span>
      <span class="language" (click)="changeLanguage('en-US')">English</span>
      <span class="pipe">|</span>
      <span class="language" (click)="changeLanguage('es-ES')">Español</span>
    </div>
  </div>
</div>


<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 class="titlex"> {{'languages.title' | translate}} </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div style="display: inline_block"><br>
      <img class="iconzito" align="center" alt="HTML"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" matTooltip="HTML 5" matTooltipPosition="above"/>
      <img class="iconzito" align="center" alt="CSS"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" matTooltip="CSS 3"  matTooltipPosition="above"/>
      <img class="iconzito" align="center" alt="JAVA SCRIPT"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" matTooltip="JavaScript"  matTooltipPosition="above"/>
      <img class="iconzito" align="center" alt="TYPESCRIPT"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"matTooltip="TypeScript "   matTooltipPosition="above"/>
      <img class="iconzito" align="center" alt="ANGULAR"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" matTooltip="Angular "   matTooltipPosition="above"/>
      <img class="iconzito" align="center" alt="JAVA"
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" matTooltip="Java "   matTooltipPosition="above" />
      <img class="iconzito" align="center" alt="SPRING BOOT"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" matTooltip="Spring Boot "   matTooltipPosition="above"/>
      <img class="iconzito" align="center" alt="GITHUB"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" matTooltip="GitHub "  matTooltipPosition="above" />


      <br>
      <br>
      <img class="gitStatus"
      src="https://github-readme-stats.vercel.app/api/top-langs/?username=isaacbrian21&layout=compact&langs_count=16&theme=dark" matTooltip="{{'languages.status' | translate }}"  matTooltipPosition="right" />

    </div>
  </mat-expansion-panel>


  <br>
  <mat-expansion-panel class="acordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2  class="titlex" > {{'networks.title' | translate}}</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <br>
    <a href="https://www.linkedin.com/in/isaac-brian-da-silva-8836ab19b/" target="_blank">
      <img class="networks"
        src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"
        target="_blank" matTooltip="LinkedIn "  matTooltipPosition="above">
    </a>

    <a href="https://www.facebook.com/isaac5521" target="_blank">
      <img class="networks"
        src="https://img.shields.io/badge/Facebook-1877F2?style=for-the-badge&logo=facebook&logoColor=white"
        target="_blank" matTooltip="Facebook "  matTooltipPosition="above" >
    </a>
    <a href="https://github.com/Isaacbrian21" target="_blank">
      <img class="networks"
      src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"
        target="_blank" matTooltip="GitHub "  matTooltipPosition="above" >
    </a>
  </mat-expansion-panel>

  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2  class="titlex" >{{ 'skils.title'| translate }}</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <li>{{'skils.teamWork'| translate}}</li>
    <li>{{'skils.communication'| translate}}</li>
    <li>{{'skils.organization'| translate}}</li>
    <li>{{'skils.dedicated'| translate}}</li>

  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2  class="titlex" >{{ 'sumary.title' | translate}}</h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ 'sumary.description' | translate}} </p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2  class="titlex" > {{'education.title' | translate}} </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h5>{{'education.university1' | translate}}</h5>
    <h6>{{'education.time' | translate}}</h6>
    <h6> {{'education.status1' | translate}} </h6>
    <br>
    <hr size="5" color="white">
    <br>
    <h5> {{'education.university2' | translate}}</h5>
    <h6>{{'education.time' | translate}}</h6>
    <h6>{{'education.status2' | translate}}</h6>
    <br>
    <hr size="5" color="white">
    <br>
    <h5>{{'education.highSchool' | translate}}</h5>
    <h6>{{'education.time' | translate}}</h6>
    <h6>{{'education.status' | translate}}</h6>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2  class="titlex" > {{'exp.title' | translate}} </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h4> {{'exp.subTitle1' | translate}} </h4>
    <h4> {{'exp.time1' | translate}}</h4>
    <p> {{'exp.function1' | translate}}</p>
    <br>
    <hr size="5" color="white">
    <br>
    <h4> {{'exp.subTitle2' | translate}} </h4>
    <h4> {{'exp.time2' | translate}}</h4>
    <p> {{'exp.function2' | translate}}</p>
    <br>
    <hr size="5" color="white">
    <br>
    <h4> {{'exp.subTitle3' | translate}} </h4>
    <h4> {{'exp.time3' | translate}}</h4>
    <p> {{'exp.function3' | translate}}</p>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2  class="titlex" > {{'about.title' | translate}} </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="married">
      <h5>{{'about.subTitle1' | translate}}</h5>
      <img src="../assets/wife.JPG" alt="married" class="wife">
      <p>{{'about.details1' | translate}}</p>
    </div>
    <br>
    <hr size="5" color="white">
    <br>
    <div class="children">
      <h5> {{'about.subTitle2' | translate}} </h5>
      <p>{{'about.details2' | translate}}</p>
      <img src="../assets/chico.jpeg" alt="Pets" class="chico">
      <img src="../assets/maggie.jpeg" alt="Pets" class="maggie">
    </div>
    <br>
    <hr size="5" color="white">
    <br>
    <div class="futbolLove">
      <h5>{{'about.subTitle3' | translate}}</h5>
      <p>{{'about.details3' | translate}}</p>
      <img src="../assets/mengo.jpeg" alt="Mengo" class="mengo">
    </div>
  </mat-expansion-panel>
</mat-accordion>

<br>
<br>
<br>
<br>
<div></div>
<div></div>
<div></div>
<div></div>
<div><h1>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ</h1></div>

<footer>
  <div class="footer">

    <h3>{{'footer.title' | translate }}</h3>
    <li>{{'footer.phone'| translate}}</li>
    <li> {{'footer.email' | translate}}</li>
  </div>


</footer>

</section>
